body{
    height: 100vh;
    padding: 10px;
}



.padre{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    background-color: antiquewhite;
}

.padre div:nth-child(2){
    text-align: center;
    background-color: burlywood;
    width: 15%;
}

.character{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.CardCharacter{
    text-align: center;
    background-color: burlywood;
    border-radius: 10px;
}
